/* styles.css ou usuario-lista.component.css */
.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f1f1f1;
    color: #333;
}

.action-cell {
    justify-content: center;
    gap: 8px;
}

.mat-icon-button {
    border-radius: 4px;
    transition: background-color 0.2s;
}

.mat-icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}