<div class="table-container">
    <button mat-raised-button color="primary" (click)="navigateToCadastro()">Cadastrar Nova Tarefa</button>
    <table mat-table [dataSource]="tarefas" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let tarefa"> {{tarefa.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeTarefa">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let tarefa"> {{tarefa.nomeTarefa}} </td>
        </ng-container>

        <ng-container matColumnDef="observacao">
            <th mat-header-cell *matHeaderCellDef> Observação </th>
            <td mat-cell *matCellDef="let tarefa"> {{tarefa.observacao}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let tarefa"> {{tarefa.status}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridade">
            <th mat-header-cell *matHeaderCellDef> Prioridade </th>
            <td mat-cell *matCellDef="let tarefa"> {{tarefa.prioridade}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let tarefa" class="action-cell">
                <button mat-icon-button color="warn" (click)="deletarTarefa(tarefa.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editarTarefa(tarefa.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>