.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  button {
    margin-bottom: 16px;
    border-radius: 4px;
  }
  
  .create-button{
    font-size: 1rem;
  }

  .card {
    width: calc(33.333% - 32px);
    max-width: 400px;
    background-color: var(--second-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    box-sizing: border-box;
    color: var(--text-color);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-header h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--main-color);
  }
  
  .card-body p {
    margin: 8px 0;
  }
  
  .card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
  
  .mat-icon-button {
    color: var(--main-color);
  }
  
  .mat-icon-button:hover {
    background-color: rgba(255, 99, 71, 0.2); /* Adaptando ao main-color */
  }
  